!!! 1.1
%html
  %head
    %title brentr.ca
    %link{:rel => 'stylesheet', :href => 'http://www.w3.org/StyleSheets/Core/Swiss', :type => 'text/css'}  
  %body
    %h1.title brentr.ca
    %p
      A URL shortener by
      %a{:href => 'http://brentrockwood.com/'}
        Brent Rockwood
      \.
    = yield